
a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.lang-switcher li {

  display: inline-block;
      border-right: 2px solid #ffffff;
      float: left;
      &:last-child {
          border-right: none;
      }
    }
.lang-switcher      a {
          padding: 3px 5px;
          color: #acacac;
          transition: all 0.5s ease;
          text-decoration: none;
          display: inline-block;
          height: 100%;
          min-width: 40px;
          text-align: center;
          &:hover {
              text-decoration: none;
          }
          &.is-active {
              color: #ffffff;
              cursor: default;
          }
        }
.lang-switcher {
  margin-left: 0px;
  display: inline-block;
  padding: 0;
  float: left;
 }



  .toggle1 {
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      position: relative;
      width: 70px;
      height: 28px;
      top: 7px;
      left: 5px;
      background: #494949;
      opacity: 0.7;
      display: block;
      border-radius: 15px;
    }
    span {
      position: absolute;
      top: 3px;
      left: 5px;
      width: 35px;
      height: 35px;
      display: block;
      background: #7d7d7d;
      border: 1px solid  #202020;
      border-radius: 50%;
      box-shadow: 0px 0px 8px rgba( #202020, 0.4);
      transition: all 0.3s ease;
      &:before {
        content: "";
        position: absolute;
        display: block;
        margin: -8px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba( #e0e0e0, 0.5);
        transform: scale(0);
        opacity: 1;
      }
      .fa-moon {
        color: white;
        display: flex;
        justify-content: center;
        margin-top: 9px;
      }
      .fa-lightbulb {
        display: none;
      }
    }
  }
  
  #checkbox:checked + .toggle1 {
    &:before {
    }
    span {
      background: #e0e0e0;
      transform: translateX(35px);
      border: 1px solid  #e0e0e0;
      box-shadow: 0px 0px 10px rgba(white, 0.3);
      &:before {
        transform: scale(2);
        opacity: 0;
        transition: all 0.5s ease;
      }
      .fa-moon {
        display: none;
      }
      .fa-lightbulb {
        color: #000000;
        display: flex;
        justify-content: center;
        margin-top: 9px;
      }
    }
  }
  
  /* UI Changes for when Light option is selected. Add any further changes here. */
  .lightUI {
    background: lighten( #e0e0e0, 15%);
    margin: -10px;
    transition: all 0.7s ease-in-out;
    .uppertextleft {
      opacity: 0.2;
    }
    .uppertextright {
      opacity: 1;
    }
  }